name: Release

on:
  release:
    types:
      - published
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        arch:
          - i686
          - x86_64
          - arm64
    steps:
      - uses: actions/checkout@v6
      - name: Build
        shell: cmd
        run: build-msvc.bat ${{ matrix.arch }}
      - name: Test
        if: matrix.arch != 'arm64'
        shell: cmd
        run: test.bat
      - name: Package and upload
        shell: pwsh
        env:
          ARCH: ${{ matrix.arch }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          $zip = "recycle-bin-${{ github.ref_name }}-$Env:ARCH.zip"
          Compress-Archive -Path "recycle-bin.exe" -DestinationPath $zip -Force
          gh release upload ${{ github.ref_name }} "$zip" --clobber
